################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BestPractiseVisualDesign/.vs/BestPractiseVisualDesign/FileContentIndex/73f11b04-2d06-49d7-9f52-9ae32d39e631.vsidx
