################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BestPractiseVisualDesign/.vs/BestPractiseVisualDesign/FileContentIndex/28d5b81f-e5b8-4397-b8de-1d670cd1f8d5.vsidx
/BestPractiseVisualDesign/.vs/BestPractiseVisualDesign/FileContentIndex/6f8e9d21-a43a-4486-aa95-09d816a8f2f0.vsidx
/BestPractiseVisualDesign/.vs/BestPractiseVisualDesign/FileContentIndex/6f8e9d21-a43a-4486-aa95-09d816a8f2f0.vsidx
/BestPractiseVisualDesign/.vs/BestPractiseVisualDesign/FileContentIndex/0dda869c-9f76-4762-9263-cd21cba90e60.vsidx
